<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut totam quod dignissimos perferendis, quos sequi
            dolorem reprehenderit magni eum eaque fuga veniam voluptatibus ea molestias, maiores quam. Harum, culpa
            ipsum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut totam quod dignissimos perferendis, quos sequi
            dolorem reprehenderit magni eum eaque fuga veniam voluptatibus ea molestias, maiores quam. Harum, culpa
            ipsum?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut totam quod dignissimos perferendis, quos sequi
            dolorem reprehenderit magni eum eaque fuga veniam voluptatibus ea molestias, maiores quam. Harum, culpa
            ipsum?</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>

</html>